# Exploratory Data Analysis


## Imports

In [1]:
import pandas as pd
import posixpath
import data
import eda
import numpy as np
import matplotlib as plt
import plotly.express as px
DATA_PATH = "C:\\Users\\derar\\Documents\\Data Mining Project\\Code\\data"

## Load Data

In [2]:
file_name = "sncb_data_challenge.csv"  
file_path = posixpath.join(DATA_PATH, file_name)
data_df = data.load_data_csv(file_path)

In [3]:
data_df

,Column1,incident_id,vehicles_sequence,events_sequence,seconds_to_incident_sequence,approx_lat,approx_lon,train_kph_sequence,dj_ac_state_sequence,dj_dc_state_sequence,incident_type
0,0,4432881,"[609, 609, 609, 609, 609, 609, 609, 609, 609, ...","[2744, 4004, 2852, 4110, 2854, 4396, 1132, 414...","[-5510, -5510, -5507, -5507, -5506, -5506, -55...",50.876601,4.718143,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",4
1,1,4432943,"[526, 526, 526, 526, 526, 526, 526, 526, 526, ...","[2744, 4148, 4394, 1566, 1570, 4396, 3634, 412...","[-8573, -8573, -8032, -8032, -8032, -7859, -61...",51.037435,4.431218,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 29.1,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",13
2,2,4432955,"[592, 592, 592, 592, 592, 592, 592, 592, 592, ...","[4394, 1566, 1570, 4114, 4168, 4168, 4156, 406...","[-12291, -12291, -12291, -10932, -10932, -1091...",50.864083,4.162115,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, ...",14
3,3,4433021,"[576, 576, 576, 576, 576, 576, 576, 576, 576, ...","[4066, 4066, 4066, 4066, 4068, 2742, 4026, 270...","[-14351, -14204, -13890, -13383, -12739, -1243...",51.183220,4.276025,"[0.0, 0.0, 0.0, 0.015625, 0.0, 0.0, 0.0, 0.0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",2
4,4,4433129,"[634, 634, 634, 634, 634, 634, 634, 634, 634, ...","[4002, 4032, 4028, 2852, 4026, 4110, 2742, 285...","[-224, -224, -223, -222, -222, -222, -220, -22...",50.818727,3.253601,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",14
...,...,...,...,...,...,...,...,...,...,...,...
1006,1006,4611953,"[1016, 1016, 1016, 1016, 1016, 1016, 1016, 101...","[4002, 2852, 4110, 2854, 4026, 4092, 4094, 261...","[-13963, -13961, -13961, -13959, -13958, -1395...",50.159057,5.972059,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",14
1007,1007,4611991,"[505, 505, 505, 505, 505, 505, 505, 505, 505, ...","[3490, 4068, 4068, 4068, 4068, 4068, 4068, 406...","[-14384, -14347, -14229, -14060, -13941, -1383...",50.767118,4.424321,"[83.2, 0.4, 0.1, 0.2, 0.2, 0.2, 0.1, 0.3, 0.0,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",2
1008,1008,4612137,"[559, 559, 559, 559, 559, 559, 559, 559, 559, ...","[4066, 4066, 4066, 4068, 3658, 4066, 3658, 406...","[-14187, -13803, -13251, -12756, -12643, -1207...",51.164770,4.160534,"[0.2, 0.0, 0.1, 0.0, 0.0, 0.1, 0.0, 0.1, 0.0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",2
1009,1009,4612321,"[1011, 1011, 1011, 1011, 1011, 1011, 1011, 101...","[2956, 2956, 2956, 2956, 2956, 2956, 2956, 295...","[-14400, -14337, -14335, -14307, -14296, -1427...",50.161550,4.976849,"[116.4, 97.2, 96.9, 94.4, 95.3, 93.7, 94.3, 10...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",13
1010,1010,44233933,"[1017, 1017, 1017, 1017, 1017, 1017, 1017, 101...","[4004, 4032, 4028, 2852, 4026, 4110, 2854, 409...","[-11723, -11723, -11722, -11721, -11721, -1172...",50.405408,4.852029,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",13

## Missing Data Processing

### Check for each rwo, if the number of data points is the same for all the columns containing lists

In [7]:
print(eda.get_rows_with_missing_data_points(data_df))

(array([], dtype=int64),)

### Check for each row, if there are missing data in the columns containing lists

In [8]:
print(eda.get_rows_with_missing_data(data_df))

(array([], dtype=int64),)

## Events exploration

In [11]:
data_df.head()

,Column1,incident_id,vehicles_sequence,events_sequence,seconds_to_incident_sequence,approx_lat,approx_lon,train_kph_sequence,dj_ac_state_sequence,dj_dc_state_sequence,incident_type
0,0,4432881,"[609.0, 609.0, 609.0, 609.0, 609.0, 609.0, 609...","[2744.0, 4004.0, 2852.0, 4110.0, 2854.0, 4396....","[-5510.0, -5510.0, -5507.0, -5507.0, -5506.0, ...",50.876601,4.718143,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",4
1,1,4432943,"[526.0, 526.0, 526.0, 526.0, 526.0, 526.0, 526...","[2744.0, 4148.0, 4394.0, 1566.0, 1570.0, 4396....","[-8573.0, -8573.0, -8032.0, -8032.0, -8032.0, ...",51.037435,4.431218,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 29.1,...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...",13
2,2,4432955,"[592.0, 592.0, 592.0, 592.0, 592.0, 592.0, 592...","[4394.0, 1566.0, 1570.0, 4114.0, 4168.0, 4168....","[-12291.0, -12291.0, -12291.0, -10932.0, -1093...",50.864083,4.162115,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, ...",14
3,3,4433021,"[576.0, 576.0, 576.0, 576.0, 576.0, 576.0, 576...","[4066.0, 4066.0, 4066.0, 4066.0, 4068.0, 2742....","[-14351.0, -14204.0, -13890.0, -13383.0, -1273...",51.183220,4.276025,"[0.0, 0.0, 0.0, 0.015625, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ...",2
4,4,4433129,"[634.0, 634.0, 634.0, 634.0, 634.0, 634.0, 634...","[4002.0, 4032.0, 4028.0, 2852.0, 4026.0, 4110....","[-224.0, -224.0, -223.0, -222.0, -222.0, -222....",50.818727,3.253601,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",14

In [29]:
unique_events = set()
nb_events = []
for row in data_df["events_sequence"]:
    nb_events.append(len(np.unique(row)))
    for event in np.unique(row):
        unique_events.add(event)
print(f"number of unique events: {len(unique_events)}")
print(f"number of events per row: {nb_events}\n")
print(f"maximum number of events in a row: {max(nb_events)}\n", f"minimum number of events in a row: {min(nb_events)}")

number of unique events: 917
number of events per row: [74, 27, 64, 46, 62, 91, 84, 77, 55, 56, 72, 51, 79, 39, 88, 69, 70, 58, 67, 23, 62, 76, 23, 38, 52, 50, 23, 66, 57, 24, 43, 61, 56, 37, 40, 32, 42, 38, 20, 62, 49, 139, 29, 50, 20, 76, 84, 70, 30, 97, 35, 52, 79, 28, 47, 52, 60, 101, 23, 51, 35, 26, 68, 68, 95, 42, 25, 32, 33, 83, 71, 67, 53, 74, 85, 48, 69, 64, 59, 26, 73, 100, 33, 31, 51, 89, 49, 63, 47, 82, 37, 20, 68, 74, 30, 47, 30, 51, 96, 47, 66, 35, 115, 22, 37, 102, 67, 40, 27, 29, 63, 34, 51, 58, 22, 66, 69, 22, 27, 47, 23, 67, 59, 37, 25, 19, 123, 39, 44, 68, 26, 56, 67, 45, 36, 47, 23, 55, 15, 84, 23, 40, 57, 70, 58, 25, 20, 68, 79, 59, 79, 96, 77, 28, 38, 44, 24, 40, 61, 18, 33, 23, 25, 45, 28, 53, 58, 61, 45, 89, 21, 52, 45, 30, 65, 69, 23, 36, 46, 86, 80, 45, 89, 67, 46, 50, 87, 21, 18, 41, 36, 36, 65, 56, 40, 75, 17, 88, 49, 27, 32, 32, 20, 58, 19, 41, 57, 38, 35, 54, 43, 63, 57, 35, 54, 28, 69, 45, 59, 56, 57, 78, 54, 128, 27, 55, 44, 20, 47, 46, 17, 114, 45, 64, 24, 45, 45, 81, 45, 31, 58, 77, 84, 48, 95, 54, 63, 37, 48, 20, 49, 62, 43, 57, 36, 85, 48, 35, 67, 50, 66, 86, 72, 61, 75, 74, 26, 70, 57, 73, 82, 33, 22, 41, 72, 37, 26, 74, 25, 28, 75, 41, 40, 61, 22, 60, 49, 37, 24, 45, 38, 54, 57, 42, 74, 69, 58, 21, 27, 74, 36, 60, 39, 45, 40, 46, 50, 61, 33, 28, 57, 59, 40, 67, 30, 55, 53, 30, 54, 97, 70, 76, 46, 56, 53, 69, 65, 46, 66, 40, 15, 33, 24, 13, 25, 52, 55, 39, 33, 18, 20, 20, 61, 33, 83, 51, 45, 51, 78, 47, 37, 61, 29, 44, 54, 52, 22, 67, 81, 65, 20, 81, 77, 77, 43, 32, 17, 56, 43, 74, 63, 51, 40, 25, 52, 43, 68, 67, 50, 20, 102, 71, 59, 41, 67, 83, 28, 49, 38, 48, 29, 30, 67, 48, 37, 23, 73, 56, 35, 40, 64, 58, 48, 34, 33, 91, 28, 56, 66, 34, 38, 76, 37, 65, 66, 61, 33, 30, 34, 83, 46, 64, 34, 45, 22, 35, 44, 30, 48, 70, 18, 24, 22, 58, 91, 45, 55, 88, 66, 60, 40, 49, 43, 57, 71, 47, 55, 56, 37, 25, 17, 48, 39, 73, 37, 32, 74, 47, 45, 60, 24, 73, 42, 51, 45, 19, 35, 50, 41, 68, 47, 54, 66, 21, 48, 34, 33, 91, 24, 63, 84, 51, 33, 94, 21, 23, 33, 57, 47, 61, 51, 28, 53, 78, 39, 31, 34, 82, 35, 77, 56, 76, 43, 77, 53, 27, 35, 27, 76, 86, 35, 99, 25, 25, 23, 52, 34, 77, 40, 61, 59, 41, 51, 45, 50, 172, 51, 36, 65, 57, 76, 15, 39, 57, 98, 48, 49, 34, 64, 25, 92, 64, 52, 66, 48, 61, 71, 31, 47, 21, 92, 46, 81, 29, 58, 71, 45, 52, 49, 23, 71, 102, 43, 63, 106, 95, 16, 26, 39, 57, 44, 59, 42, 23, 56, 49, 61, 67, 74, 107, 54, 33, 37, 40, 18, 19, 71, 65, 81, 65, 32, 60, 68, 21, 72, 56, 58, 28, 44, 57, 39, 81, 41, 22, 43, 44, 27, 27, 41, 31, 53, 65, 27, 22, 44, 97, 44, 20, 131, 43, 67, 93, 73, 30, 76, 90, 70, 47, 55, 46, 103, 40, 48, 64, 16, 78, 64, 42, 54, 41, 13, 56, 18, 40, 20, 75, 35, 27, 30, 17, 37, 53, 41, 54, 43, 39, 22, 77, 53, 24, 55, 58, 82, 30, 60, 32, 42, 23, 28, 44, 63, 62, 21, 30, 79, 38, 77, 61, 75, 68, 84, 46, 60, 58, 55, 77, 24, 92, 57, 30, 49, 21, 28, 62, 37, 19, 57, 34, 21, 54, 49, 91, 51, 47, 75, 52, 56, 75, 20, 79, 63, 55, 62, 104, 93, 64, 44, 29, 42, 54, 53, 67, 96, 63, 67, 61, 78, 51, 53, 10, 46, 47, 77, 9, 69, 85, 53, 41, 79, 78, 35, 32, 29, 87, 37, 47, 79, 65, 132, 81, 66, 64, 27, 86, 21, 51, 60, 48, 40, 34, 20, 43, 39, 70, 58, 75, 58, 66, 57, 52, 59, 38, 55, 43, 54, 43, 73, 77, 45, 18, 83, 50, 52, 40, 51, 42, 44, 51, 43, 19, 12, 55, 43, 32, 25, 37, 58, 22, 53, 23, 33, 35, 65, 27, 26, 23, 74, 17, 30, 68, 52, 63, 48, 82, 85, 66, 29, 28, 49, 51, 33, 68, 54, 61, 37, 21, 41, 54, 36, 46, 30, 63, 78, 83, 129, 69, 96, 21, 29, 50, 55, 79, 33, 97, 30, 61, 64, 23, 27, 32, 18, 35, 52, 59, 24, 36, 71, 18, 58, 68, 47, 48, 77, 37, 80, 39, 50, 24, 60, 21, 27, 85, 43, 84, 69, 27, 69, 73, 23, 48, 27, 69, 48, 65, 22, 43, 24, 43, 43, 86, 28, 71, 70, 91, 20, 49, 23, 39, 59, 23, 34, 35, 63, 28, 70, 31, 58, 35, 29, 39, 48, 28, 95, 156, 114, 42, 80, 28, 37, 50, 52, 21, 32, 47, 31, 92, 54, 35, 23, 55, 74, 50, 28, 56, 43, 82, 21, 68, 56, 34, 56, 58, 44, 60, 22, 32, 106, 65, 56, 43, 55, 27, 54, 53, 55, 46, 28, 64, 39, 46, 50, 73, 25, 37, 83, 24, 26, 60, 16, 42, 25, 64, 28, 74, 30, 20, 68, 67, 77, 82, 59, 21, 68, 53, 55, 19, 55, 55, 37, 36, 41, 34, 41, 45, 48, 68, 30, 22, 78, 50, 58, 81, 52, 59, 75, 77, 64, 68, 64, 35, 65]

maximum number of events in a row: 172
 minimum number of events in a row: 9

## Vehicles exploration

In [30]:
unique_vehicles = set()
nb_vehicles = []
for row in data_df["vehicles_sequence"]:
    nb_vehicles.append(len(np.unique(row)))
    for vehicle in np.unique(row):
        unique_vehicles.add(vehicle)
print(f"number of unique events: {len(unique_vehicles)}")
print(f"number of events per row: {nb_vehicles}\n", f"maximum number of events in a row: {max(nb_vehicles)}\n", f"minimum number of events in a row: {min(nb_vehicles)}")

number of unique events: 303
number of events per row: [1, 2, 3, 2, 2, 2, 3, 3, 2, 2, 3, 2, 2, 1, 2, 3, 2, 2, 2, 1, 1, 2, 2, 1, 1, 1, 2, 2, 2, 1, 2, 1, 2, 1, 2, 3, 1, 2, 1, 2, 1, 2, 3, 2, 1, 2, 1, 1, 1, 2, 2, 1, 2, 1, 1, 2, 3, 2, 2, 1, 1, 1, 2, 2, 3, 2, 2, 2, 1, 3, 2, 3, 1, 1, 3, 1, 4, 1, 1, 1, 2, 3, 1, 2, 1, 2, 2, 2, 1, 2, 2, 1, 1, 1, 1, 1, 2, 1, 3, 1, 2, 1, 2, 1, 1, 2, 2, 2, 2, 2, 2, 2, 1, 1, 2, 3, 2, 1, 3, 1, 1, 3, 1, 2, 3, 1, 2, 3, 1, 2, 1, 2, 2, 2, 3, 1, 1, 2, 2, 3, 1, 1, 1, 2, 2, 1, 2, 2, 1, 2, 2, 3, 3, 1, 1, 1, 3, 1, 3, 1, 1, 2, 2, 2, 1, 2, 2, 2, 2, 2, 1, 3, 3, 2, 1, 3, 1, 2, 2, 2, 2, 1, 2, 3, 2, 3, 3, 2, 1, 1, 1, 2, 2, 1, 2, 4, 2, 2, 1, 3, 1, 2, 1, 3, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 2, 2, 2, 2, 1, 2, 2, 2, 1, 1, 1, 2, 2, 3, 1, 1, 3, 1, 2, 1, 1, 2, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 2, 1, 2, 2, 2, 2, 1, 2, 1, 1, 3, 2, 3, 2, 1, 1, 3, 1, 3, 2, 1, 2, 2, 2, 1, 2, 2, 2, 1, 2, 1, 1, 2, 2, 2, 3, 2, 1, 2, 1, 1, 2, 1, 2, 2, 1, 2, 2, 2, 1, 3, 2, 1, 1, 1, 2, 1, 2, 2, 1, 1, 1, 2, 1, 2, 3, 1, 2, 2, 2, 2, 2, 1, 1, 3, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 3, 1, 2, 3, 1, 3, 2, 2, 2, 1, 2, 2, 2, 1, 2, 2, 2, 2, 2, 3, 1, 3, 3, 2, 3, 2, 2, 1, 2, 2, 1, 1, 1, 2, 2, 2, 1, 2, 2, 1, 1, 2, 2, 2, 2, 3, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 3, 1, 2, 1, 2, 1, 3, 2, 1, 2, 1, 1, 2, 1, 1, 3, 1, 1, 2, 2, 2, 2, 3, 3, 1, 2, 2, 2, 1, 1, 2, 3, 1, 1, 2, 2, 2, 2, 1, 1, 2, 3, 1, 1, 2, 1, 1, 1, 2, 1, 1, 2, 1, 2, 1, 3, 2, 3, 1, 2, 2, 2, 2, 2, 1, 2, 1, 1, 3, 1, 2, 1, 1, 3, 1, 2, 3, 1, 2, 2, 2, 2, 2, 1, 1, 2, 1, 2, 2, 2, 1, 1, 2, 2, 2, 1, 2, 2, 2, 1, 2, 2, 1, 3, 2, 1, 2, 2, 1, 2, 2, 1, 1, 1, 1, 1, 3, 2, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 2, 3, 3, 2, 2, 2, 1, 1, 2, 1, 3, 2, 2, 3, 2, 1, 2, 2, 3, 1, 2, 1, 3, 2, 2, 2, 1, 1, 2, 1, 1, 3, 2, 2, 2, 1, 2, 3, 2, 3, 2, 2, 2, 2, 2, 1, 2, 2, 2, 1, 1, 2, 3, 1, 3, 1, 1, 2, 1, 3, 2, 2, 3, 3, 1, 3, 1, 2, 1, 3, 1, 2, 1, 1, 2, 1, 1, 2, 1, 2, 2, 1, 1, 2, 1, 2, 3, 1, 2, 1, 1, 1, 2, 3, 1, 2, 2, 2, 2, 3, 1, 2, 1, 2, 1, 1, 2, 1, 2, 3, 3, 2, 2, 3, 1, 1, 2, 2, 3, 2, 1, 1, 1, 3, 3, 2, 1, 2, 1, 2, 3, 2, 3, 1, 2, 3, 3, 1, 1, 1, 1, 2, 2, 1, 2, 1, 2, 3, 3, 3, 3, 2, 3, 2, 1, 1, 2, 1, 2, 1, 1, 3, 2, 1, 2, 2, 2, 1, 1, 1, 2, 1, 2, 1, 2, 1, 1, 1, 2, 2, 3, 1, 2, 3, 2, 3, 3, 2, 2, 1, 2, 2, 1, 1, 3, 2, 2, 1, 2, 2, 1, 2, 1, 1, 1, 2, 1, 3, 2, 1, 2, 3, 3, 2, 1, 1, 4, 1, 1, 2, 2, 3, 2, 2, 1, 2, 3, 3, 2, 1, 3, 2, 1, 1, 2, 1, 2, 2, 1, 2, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 3, 3, 1, 3, 1, 1, 3, 1, 3, 3, 1, 1, 2, 1, 2, 1, 1, 1, 2, 2, 1, 2, 2, 1, 1, 2, 3, 1, 2, 2, 2, 2, 2, 1, 1, 2, 2, 2, 2, 3, 2, 2, 1, 2, 3, 2, 2, 1, 1, 2, 3, 1, 3, 2, 3, 2, 3, 2, 2, 3, 1, 1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 2, 1, 2, 2, 3, 1, 2, 2, 2, 2, 1, 1, 2, 2, 3, 1, 2, 1, 2, 2, 2, 2, 3, 1, 1, 2, 2, 1, 2, 1, 1, 1, 1, 1, 2, 1, 4, 2, 2, 3, 3, 3, 1, 1, 1, 1, 1, 1, 3, 2, 2, 2, 1, 1, 3, 2, 2, 3, 2, 1, 1, 3, 1, 2, 1, 2, 2, 3, 1, 1, 1, 2, 1, 1, 2, 1, 3, 2, 1, 1, 2, 3, 3, 1, 1, 1, 2, 2, 2, 2, 1, 2, 3, 3, 2, 2, 2, 1, 2, 1, 2, 1, 1, 1, 1, 2, 2, 3, 3, 1, 1, 2, 2, 1, 1, 2, 2, 1, 1, 1, 1, 3, 1, 4, 2, 2, 1, 2, 3, 1, 2, 2, 2, 1, 2, 3, 2, 2, 2, 1, 1, 2, 1, 2, 1, 3, 2, 3, 2, 2, 2, 1, 3, 3, 1, 3]
 maximum number of events in a row: 4
 minimum number of events in a row: 1

## Incidents type exploration

In [36]:
unique_incidents = set()
nb_incidents = []
for row in data_df["incident_type"]:
    nb_incidents.append(len(np.unique(row)))
    for incident in np.unique(row):
        unique_incidents.add(incident)
print(f"number of unique events: {len(unique_incidents)}")

number of unique events: 12